  <%- include('_top_field') %>
  <body>
    <p />
    <div class="container">
      <h1 class="mb-4">Edit Article</h1>

      <form action="/article/<%=value.blog_id%>?_method=PUT" method="POST">
        <%- include('_form_fields') %>
      </form>
    </div>
  </body>
</html>
